NEXT_PUBLIC_SITE_NAME=ICE Lite
NEXT_PUBLIC_ONCHAIN_URL=https://frostedblocks.com
NEXT_PUBLIC_ICE_CANISTER=6jf55-2qaaa-aaaan-q6mwq-cai
NEXT_PUBLIC_ASSETS_CANISTER=6hhqv-baaaa-aaaan-q6mxq-cai
NEXT_PUBLIC_MESSAGING_CANISTER=6agwb-myaaa-aaaan-q6mxa-cai
NEXT_PUBLIC_ADSENSE_CLIENT=
